@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  line-height: 1.6;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title h1 {
  font-size: 26px;
}

.loading-state {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 10px solid #ddd;
  border-top-color: #020707e6;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.react-datepicker__day--selected {
  background-color: #bef264 !important;
  color: white !important;
}

.react-datepicker__day--disabled {
  color: #ccc !important;
  pointer-events: none;
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #4caf50;
}
.react-datepicker__day {
  font-size: 0.8rem;
  font-family: 'Varela Round', sans-serif;
  padding: 3px;
  margin: 5px !important;
}
.react-datepicker__header {
  background-color: #d9f99d !important;
}
.non-working-day {
  color: #ccc !important;
  pointer-events: none;
}

/* DASHBOARD */
